<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Movie Finder</title>
  </head>
  <body>
    <h2>Movie Finder Search Result</h2>
<p><%=@movie.title%></p>
<p><%=@movie.plot%></p>


  </body>
</html>
