<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Movie Finder</title>
  </head>
  <body>
<p><%=7+8%></p>
<%["Snickers", "Mars", "Fruit&Nut"].each do |c|%>
<p><%=c %></p>
<%end%>
  </body>
</html>
